.vs/
.vscode/
.idea/
.generated/
.bin-debug/
.bin-release/
x64/

bin/
obj/
Debug/
out/
cmake-build-*/

packages/
logs/
dist/
node_modules/
scripts/private/
assets/project/
*.Sln.dll
*.Sln.pdb



libs/framework/**/*.*

*.user
*-lock.json
*.nupkg
!*.csproj.DotSettings
!*.sln.DotSettings
!*.csproj
/global.json

