<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Info"
		internalLogFile="${basedir}/data/logs/#NLogInternal.txt">
	<extensions>
		<add assembly="ZitApp.Core" />
	</extensions>
	<targets>
		<target name="LogTarget" xsi:type="LogTarget" />
		<target name="AsyncFile" xsi:type="AsyncWrapper">
			<target
				name="CommonToFile" xsi:type="File"
				fileName="${basedir}/data/logs/${date:format=yyMMdd}.log.txt"
				layout="${date:format=yyMMdd HH\:mm\:ss\.fff} ${level:format=FirstCharacter} [${logger}]: ${message}${onexception:${newline}${exception:format=tostring}}"
				archiveFileName="${basedir}/data/logs/${date:format=yyMMdd}-{#####}.log.txt"
				archiveAboveSize="5242880"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="true" />
		</target>
		<target name="ColorConsole" xsi:type="ColoredConsole"
					layout="${date:format=yyMMdd HH\:mm\:ss\.fff} ${level:format=FirstCharacter} [${logger}]: ${message}${onexception:${newline}${exception:format=tostring}}">
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
		</target>
	</targets>
	<rules>
		<logger name="ZC" minlevel="Trace" writeTo="ColorConsole" final="true" />
		<logger name="*" minlevel="Debug" writeTo="ColorConsole,CommonToFile,LogTarget" />
	</rules>
</nlog>